*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #009899;
}

.wrapper {
    width: 580px;
    background-color: #CCCCCC;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #687076;
    border-bottom: 2px solid #687076;
    border-left: 2px solid #FFFFFF;
    box-shadow: 2px 2px #004242;
}

/* Header Section */

.header {
    width: 572px;
    height: 28px;
    margin: 2px 2px;
    padding: 0 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #1F0083;
    border: 2px solid#170062;
}

.header button {
    width: 24px;
    font-weight: bold;
    background-color: #CCCCCC;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #687076;
    border-bottom: 2px solid #687076;
    border-left: 2px solid #FFFFFF;
    box-shadow: 2px 2px #170062;
    cursor: pointer;
}

.header button:active {
    color: #687076;
    border-top: 2px solid #687076;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    border-left: 2px solid #687076;
    box-shadow: none;
}

/* Content Section */

.quote {
    width: 571px;
    margin: 4px 3px;
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 2px solid #000000;
    border-right: 2px solid #687076;
    border-bottom: 2px solid #687076;
    border-left: 2px solid #000000;
    box-shadow: -1px -1px #687076;
}

.quote-text {
    font-size: 24px;
}

.quote-author {
    margin-top: 2px;
    text-align: right;
}

/* Buttons Section */

.buttons {
    width: 568px;
    margin: 6px 4px 8px 4px;
    display: flex;
    justify-content: space-between;
}

.buttons a {
    width: 32px;
    height: 32px;
    padding: 5px;
    color: #1F0083;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #CCCCCC;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #687076;
    border-bottom: 2px solid #687076;
    border-left: 2px solid #FFFFFF;
    box-shadow: 2px 2px #000000;
}

.buttons .post-quote {
    position: relative;
    right: 200px;
}

.buttons button {
    width: 92px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    background-color: #CCCCCC;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #687076;
    border-bottom: 2px solid #687076;
    border-left: 2px solid #FFFFFF;
    box-shadow: 2px 2px #000000;
    cursor: pointer;
}

.buttons button:active {
    color: #687076;
    border-top: 2px solid #687076;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    border-left: 2px solid #687076;
    box-shadow: none;
}